/* Variables CSS*/
:root {
  --main-color: #156062;
  --second-color: #22de22;
  --third-color: #f8de65;
  --fourth-color: #00c092;
  --fifth-color: #ffbbab;
  --sixth-color: #fb8960;
  --white: #fff;
  --black: #000;

  --main-police: 'righteous', sans-serif;
  --hand-police: 'rock salt', sans-serif;
  --light-police: 'gruppo', sans-serif;
}
/* KEYFRAMES */
@keyframes slideRight {
  0%{
    transform: translateX(-100px);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideLeft {
  0%{
    transform: translateX(-100px);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideTop {
  0%{
    transform: translateY(100px);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideBottom {
  0%{
    transform: translateY(100px);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}

/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-police); 
}
body {
  color: var(--main-color);
  margin: auto;
}
main {
  max-width: 1200px;
  margin: 0 auto;
}
li {
  list-style: none;
}
strong {
  font-family: 'gruppo', 'inclusive sans', sans-serif;
  font-weight: 700;
}
a {
  text-decoration: none;
  color: var(--main-color);
}
h2 {
  font-family: var(--hand-police);
  font-size: 19px;
}
h3 {
  font-family: var(--main-police);
  font-size: 15px;
}
p {
  font-family: var(--light-police);
  font-size: 18px;
}
.delayed-display {
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 2s;
}
/* HEADER */
.header {
  background-color: var(--white); 
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
} 
.logo {
  position: relative;
  font-size: 36px;
  color: var(--third-color);
  letter-spacing: 8px;
  text-decoration: none;
  cursor: default;
  opacity: 0;
  animation: slideRight 1s ease forwards;
 text-align: center;
} 
.navbar a {
  font-size: 10px;
  display: inline-block;
  color: var(--main-color); 
  text-decoration: none;
  padding-left: 10px;
  transition: .3s;
  opacity: 0;
  animation: slideTop .5s ease forwards;
  animation-delay: calc(.2s * var(--1));
} 
.navbar a:hover, 
.about-text a:hover,
.navbar a:focus,
.about-text a:focus {
  color: var(--fourth-color);
}

/* HOME */
.home {
  position: relative;
  width: 100%;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 20px 10% 30px;
}
.home-content {
  max-width: 600px;
  margin: 1px;
}
.home-content h1 {
  font-family: var(--hand-police); 
  font-size: 20px;
  margin: -3px 0;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}
.home-content h2 {
  font-family: var(--main-police);
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 1s;
}
.home-content h2:nth-of-type(2) {
  margin-bottom: 30px;
  animation: slideTop 1s ease forwards;
  animation-delay: .9s;
}
.home-content h2 span {
  color: var(--fourth-color);
}
.home-content p {
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: .7s; 
}
.home-content li {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  background: transparent;
  border: 1.2px solid var(--main-color);
  border-radius: 50%;
  margin: 14px 3px 10px 0;
  transition: .2s ease;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc (.8s * var(--1));    
}
.home-content li:hover,
.home-content li:focus {
  background: var(--fourth-color);
  box-shadow: 0 0 30px var(--fourth-color);
  border: none;
}
.links:hover,
.links:focus,
.links:hover i, 
.links:focus i {
  color: var(--white); 
}
.btn-div {
  display: none;
}

/* ABOUT-ME SECTION */
.about-me {
  width: 95%;
  margin: auto;
  display: block;
  padding: 20px 0;
  padding-bottom: 40px;
}
.about-title {
  text-align: center;
}
.about-span {
  color: var(--third-color);
  font-family: var(--hand-police);
}
.about-img img {
  display: none;
}
.about-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.about-text h2 {
  text-align: center;
  font-family: var(--hand-police);
  font-size: 15px;
  color: var(--fifth-color);
  letter-spacing: 4px;
  font-style: italic;
  padding-top: 10px;
  rotate: -5deg;
}
/*animation de soulignage*/
.underlined-title {
  position: relative;
  display: inline-block;
}
.underlined-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 8px;
  width: 100%;
  height: 2px;
  background-color: var(--fifth-color);
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}
.underlined-title:hover::after,
.underlined-title:focus::after {
  transform: scaleX(1);
}
.about-text h3 {
  font-size: 18px;
  font-family: var(--light-police);
  font-weight: bold;
  text-align: center;
}
.about-text p {
  font-family: var(--light-police);
  font-size: 16px;
  line-height: 1.2;
  text-align: center; 
}
.link-OCR {
  font-size: 11px;
  font-weight: bold;
  font-family: var(--hand-police);
  letter-spacing: 1px;
}
.lang-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.lang-list i {
  font-size: 40px;
  margin: 7px;
}

/* PROJECTS */
.projects-section {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
}
.projects-section h2 {
  text-align: center;
}
.explanations {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 95%;
  padding: 40px 0;
}
.retrospective {
  padding-top: 20px;
  padding-bottom: 50px;
  text-align: center;
}
.retrospective h2 {
  text-align: center;
}
.retrospective h3 {
  font-size: 16px;
  font-family: var(--main-police);
  padding: 7px;
}
.retrospective p, 
.retrospective a {
  font-size: 16px;
  font-family: var(--light-police);
  padding: 7px;
}
.retrospective a:hover, 
.retrospective a:focus {
  color: var(--fourth-color);
}

/*SLIDER*/
.swiper {
  width: 90%;
  height: 300px;
}
.swiper-slide img {
  background-color: var(--white);
  height: 300px;
  width: 100%;
  object-fit: contain;
}
.swiper-button-next, .swiper-button-prev {
  color: var(--fifth-color);
}
.swiper-pagination-bullet-active {
  background-color: var(--fifth-color);
}
.swiper-scrollbar-drag {
  background-color: var(--fifth-color);
}

/*FLIP-CARDS*/
.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.flip-card {
  background-color: transparent;
  min-width: 340px;
  height: 400px;
  perspective: 1000px;
  cursor: pointer;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner  {
  transform: rotateY(180deg);
}
.flip-card-front, 
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0;
  backface-visibility: hidden;
  color:var(--white);
  background-color: var(--fifth-color); 
  border-radius: 21px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flip-card-back {
  transform: rotateY(180deg);
  padding: 0;
}
.flip-card-back h3, 
.flip-card-front h3 {
  font-family: var(--hand-police);
  font-size: 21px;
  padding-top: 10px;
  text-align: center;
  line-height: 1.8;
}
.flip-card-back p,
.flip-card-front p {
  font-family: var(--light-police);
  text-align: center;
  font-size: 20px;
  line-height: 0.8;
  padding: 16px;
  font-weight: bolder;
}
.flip-card-front img {
  width: 345px;
  height: 300px;
  padding: 12px;
  object-fit: contain;
}

/* ARROWS & LINKS*/
.github {
  padding: 20px;;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.github p, 
.github i {
font-size: 14px;
}
.rotate-arrow {
  display: none;
}
.unrotate-arrow {
  display: none;
}
.github-link{
  font-size: 20px;
}
.github-link:hover,
.github-link:focus {
  color: var(--fourth-color);
}

/*CONTACT FORM */
input[type=text], textarea, input[type=email] {
  width: 100%;
  padding: 12px;
  border: 1px solid var(--main-color);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  margin-right: 0px;
  margin-left: 0px;
  resize: vertical;
}
label{margin-right: 0px;
  margin-left: 0px;
  width: 100%;}

input[type=submit] {
  background-color:var(--fourth-color);
  color: var(--white);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color:var(--main-color);
}

.container {
  box-sizing : border-box;
  border-radius:30px;
  background-color:var(--white);
  padding:20px;
  width: 90%;
  margin:0 auto;
  border: solid 2px var(--main-color);
}
/* CONTACT-ME SECTION */
.contact-me {
  text-align: center;
  margin: auto;
  padding: 40px;
}
.contact-me h2 {
  font-family: var(--hand-police);
  font-size: 16px;
}
.contact-info li {
  font-family: var(--light-police);
  font-size: 10px;
}
.contact-info a {
  font-size: 18px;
}

/*ARROW YO MOVE BACK UP*/
.arrow-up i {
  display: none;
}

/*FOOTER*/ 
.footer {
  background-color: var(--main-color);
  margin: auto;
  padding-top: 35px;
 }
 .footer p {
   font-family: var(--hand-police);
   padding-bottom: 20px;
   text-align: center;
   font-size: 10px;
   color: var(--white);
}

/********************** @ MEDIA QUERIES **********************/
h2 {
  @media screen and (min-width: 800px) {
    font-size: 36px;
  }
}
h3 {
  @media screen and (min-width: 800px) {
    font-size: 28px;
    }
}
p {
  @media screen and (min-width: 800px) {
    font-size: 24px;
  }
}

/* HEADER */
.header {
  @media screen and (min-width: 800px) {
    max-width: 1200px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    gap: 12px;
  }
} 
.logo {
  @media screen and (min-width: 800px) {
    font-size: 42px;
    letter-spacing: 10px;
    margin-left: -42px; 
  }
} 
.navbar a {
  @media screen and (min-width: 800px) {
    font-size: 18px;
    padding-left: 25px;
  }
} 

/* HOME */
.home {
  @media screen and (min-width: 800px) {
    padding: 180px 10% 10%; 
  }
}
.home-content h1 {
  @media screen and (min-width: 800px) {
    font-size: 36px;
  }
}
.home-content li {
  @media screen and (min-width: 800px) {
    font-size: 20px;
    width: 40px;
    height: 40px;
    margin: 30px 15px 30px 0;
  }    
}

.btn-div {
  @media screen and (min-width: 800px) {
    display: inline-block;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
    margin-top: -2px;  
  }
}
.btn-div:hover,
.btn-div:focus {
  @media screen and (min-width: 800px) {
    color: var(--white); 
  }
}
.project-btn{
  @media screen and (min-width: 800px) {
    font-size: 13px;
    display: inline-block;
    padding: 10px;
    background: var(--fourth-color);
    color: var(--white); 
    font-family: var(--hand-police);
    letter-spacing: 1px;
    border-radius: 20px;
  }
}
.project-btn:hover,
.project-btn:focus {
  @media screen and (min-width: 800px) {
    display: block;
    background: var(--fifth-color);
    color: var(--white);  
  }
}

/* ABOUT-ME SECTION */
.about-me {
  @media screen and (min-width: 800px) {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
  }
}
.about-img img {
  @media screen and (min-width: 800px) {
    object-fit: contain;
    display: block;
  }
}
.about-text {
  @media screen and (min-width: 800px) {
    flex-direction: row; 
    gap: 40px;  
    margin-top: 20px;
  }
}
.about-text section {
  @media screen and (min-width: 800px) {
    width: 100%; 
  }
}
.about-text h2 {
  @media screen and (min-width: 1100px) {
    font-size: 24px;
  }
}
.about-text h3 {
  @media screen and (min-width: 1100px) {
    font-size: 22px;
  }
}
.about-text p {
  @media screen and (min-width: 1100px) {
    font-size: 20px;
    line-height: 1.4;
  } 
}
.link-OCR {
  @media screen and (min-width: 1100px) {
    font-size: 15px;
  }
}
.lang-list {
  @media screen and (min-width: 800px) {
    margin: auto;
  }
}
.lang-list i {
  @media screen and (min-width: 800px) {
    font-size: 37px;
  }
}

/* PROJECTS-SECTION */
.projects-section h2 {
  @media screen and (min-width: 1100px) {
    font-size: 44px;
    margin: 15px;
  }
}

/*EXPLANATIONS*/ 
.retrospective {
  @media screen and (min-width: 800px) {
    max-width: 900px; 
    text-align: start;
  }
}
.retrospective h3 {
  @media screen and (min-width: 800px) {
    padding: 12px;
    font-size: 20px;
  }
}
.retrospective p, .retrospective a {
  @media screen and (min-width: 800px) {
    padding: 12px;
    font-size: 20px;
  }
}

/*SLIDER*/
.swiper {
  @media screen and (min-width: 1100px) {
    width: 1100px;
  }
  @media screen and (min-width: 800px) {
    height: 500px;
  }
}
.swiper-slide img {
  @media screen and (min-width: 1100px) {
    width: 1100px;
  }
  @media screen and (min-width: 800px) {
    height: 500px;
  }
}

/* FLIPCARDS */
.cards{
  @media screen and (min-width: 800px) {
    flex-direction: row;
  }
}

/*ARROWS NEXT TO FLIPCARDS*/
.rotate-arrow {
  @media screen and (min-width: 1100px) {
    display: block;
    rotate: 90deg; 
  }
}
.unrotate-arrow {
  @media screen and (min-width: 1100px) {
    display: block;
  }
}

/* CONTACT-ME SECTION */
.contact-me h2 {
  @media screen and (min-width: 800px) {
    font-size: 28px;
  }
}
.contact-info {
  @media screen and (min-width: 800px) {
    font-size: 20px;
  }
}
.arrow-up i {
  @media screen and (min-width: 800px) {
    display: block;
    font-size: 36px;
    text-align: end;
    color: var(--main-color);
  }
}
.arrow-up i:hover,
.arrow-up i:focus {
  color: var(--fifth-color);
}

/* FOOTER */
 .footer p {
  @media screen and (min-width: 800px) {
    font-size: 20px;
  }
}

/*contact form */
/* input[type=text], textarea, input[type=email] {
  width: 100%;
  padding: 12px;
  border: 1px solid var(--main-color);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  margin-right: 0px;
  margin-left: 0px;
  resize: vertical;
} */
/* label{margin-right: 0px;
  margin-left: 0px;
  width: 100%;}

input[type=submit] {
  background-color:var(--fourth-color);
  color: var(--white);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
} */

/* input[type=submit]:hover {
  background-color:var(--main-color);
} */

@media screen and (min-width: 800px) {
  .container {
  width: 100%;
  max-width: 713px;
  border: solid 3px var(--main-color);
  }	
}

@media screen and (min-width: 800px) {
  .contact-h2 {
  font-size: 22px;
  padding-bottom: 15px;
  }
}