*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'righteous', 'inclusive sans', sans-serif;
}
li{
  list-style: none;
}
strong{
  font-weight: normal;
}
a{
  text-decoration: none;
  color: #156062;
}
.about-text a:hover, .navbar a:hover{
  color: #00c092;
}
body{
color: #156062;
margin: auto;
}
.header{
  position: fixed;
  /* background-color: #fff; */
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo{
  position: relative;
  font-size: 38px;
  color: #f8de65;
  letter-spacing: 6px;
  text-decoration: none;
  cursor: default;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}
.navbar a{
  display: inline-block;
  font-size: 18px;
  color: #156062;
  text-decoration: none;
  margin-left: 25px;/*35*/
  transition: .3s;
  opacity: 0;
  animation: slideTop .5s ease forwards;
  animation-delay: calc(.2s * var(--1));
}

.home{
  position: relative;
  width: 100%;
  justify-content: space-between;
  height: 100vh;
  background-color:#fff;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 180px 10% 0;
}
.home-content{
  max-width: 600px;
}
.home-content h1, h2{
  font-family: 'rock salt', sans-serif;
  font-size: 30px;
  margin: -3px 0;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}
.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 1s;
}
.home-content h3:nth-of-type(2){
  margin-bottom: 30px;
  animation: slideTop 1s ease forwards;
  animation-delay: .9s;
}
.home-content h3 span {
  color: #00c092;
}
.home-content p{
  font-size: 18px;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: .7s;
}
.home-sci a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 1px solid #156062;
  border-radius: 50%;
  margin: 30px 15px 30px 0;
  font-size: 20px;
  color: #156062;
  transition: .5s ease;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc (.2s * var(--1));
}
.home-sci a:hover{
  background: #00c092;
  color: #fff;
  box-shadow: 0 0 20px #00c092;
  border: none;
}
.btn-box{
  display: inline-block;
  padding: 16px;
  background: #00c092;
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  letter-spacing: 2px;
  text-decoration: none;
  font-family: 'righteous', 'inclusive sans', sans-serif;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
}
.btn-box:hover{
  background: #00c092;
  box-shadow: 0 0 5px #00c092,
  0 0 25px #00c092, 0 0 50px #00c092,
  0 0 200px #00c092, 0 0 250px #00c092;
}

.short-cut-btn{
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
}

.animated-link{
  outline: 0;
  grid-gap: 8px;
  align-items: center;
  background-color: #156062;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 8px;
  cursor: pointer;
  display: inline-block;
  flex-shrink: 0;
  font-size: 16px;
  justify-content: center;
  padding: 15px;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: all .16s ease-out;
  white-space: nowrap;
}
.animated-link:hover {
    box-shadow: 4px 4px 0 #ffbbab;
    transform: translate(-4px,-4px);
}

@keyframes slideRight{
  0%{
    transform: translateX(-100px);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideLeft{
  0%{
    transform: translateX(-100px);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideTop{
  0%{
    transform: translateY(100px);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideBottom{
  0%{
    transform: translateY(100px);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}
.about{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #fff;
  /* @media screen and (min-width: 800px) {
    flex-direction: row;
    justify-content: center;
    align-items: center; */
    
}
.about-section h2{
  color: #156062;
  font-size: 30px;
  font-family: 'rock salt', sans-serif;
  align-items: center;
}
.about-section h2 span{
  color: #f8de65;
  font-family: 'rock salt', sans-serif;
}
.about-section img{
  padding: 13%;
  width: 100%;
  margin: auto;
}
.about-text{
  background-color: #fff;
  color: #156062;
  margin: auto;
}
.about-text h2{
  font-size: 30px;
  font-family: 'rock salt', sans-serif;
  align-items: center;
}
.about-text h2 span{
  color: #f8de65;
  font-family: 'rock salt', sans-serif;
}
.about-text h3{
  font-size: 18px;
  margin: 10px 0 5px;
}
.about-text p{
  font-size: 16px;
  line-height: 1.4;
}

.about-text i{
  color: #00c092;
  font-size: 40px;
  padding: 10px 20px 10px 10px;
}

.main-text{
  padding-top: 10%;
  margin-top: 10%;
}
.main-text h2{
  font-size: 32px;
  line-height: 2;
  text-align: center;
  margin: 30px;
}
.main-text h2 span{
  color: #f8de65;
  font-family: 'rock salt', sans-serif;
}
.portfolio-content{
  display: grid;
  grid-template-columns: (repeat(auto-fit, minmax(300px, 1fr)));
  /* display: flex;
  flex-direction: column; */
}
.row{
  position: relative;
  overflow: hidden;
  border-radius: 28px;
  cursor: pointer;
}
.row img{
  width: 60%;
  border-radius:8px;
  display: block;
  transition: transform 0.5s;
  border: #156062 solid 17px;
  margin: auto;
  margin-bottom: 50px;
}
.layer{
  width: 30%;
  margin: auto;
  height: 0;
  background: linear-gradient(rgba(0,0,0,0.9), #156062);
  position: absolute;
  border-radius: 8px;
  left: 0;
  bottom: 0;
  overflow: hidden;
  
  text-align: center;
  padding: 0 40px;
  transition: height 0.5s;
}
.layer h3{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}
.layer p{
  color: #fff;	
  font-size: 1rem;
  line-height: 1.5;
}
/* .layer i{
  color: #fb8960;
  margin-top: 20px;
  font-size: 20px;
  background: #fff;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
} */
.row:hover img{
  transform: scale(1.1);
}
.row:hover .layer{
  height: 100%;
}

.carousel-container {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
  /* min-height: 100vh; */
}

.carousel {
  margin: auto;
  width: 60%;
  height: 500px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.7);
}

.controls {
    opacity: 1;
    display: flex;
    position: absolute;
    top: 50%;
    left: 0;
    justify-content: space-between;
    width: 100%;
    z-index: 99999;
    transition: all ease 0.5s;
}
.controls i{
  font-size: 40px;
  color : #000;
}
    
  .control {
      margin: 0 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      background-color: rgba( 0.7);
      opacity: .5;
      transition: ease .3s;
      cursor: pointer;
  }
      
  .control:hover {
        opacity: 1;
  }
  
  .slides {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      display: flex;
      width: 100%;
      transition: 1s ease-in-out all;
}
.slides img {
  max-width: 500px;
  object-fit: contain;
}
.slide {
  min-width: 100%;
  min-height: 500px;
  height: auto;
}