*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'righteous', 'inclusive sans', sans-serif;
}
body
{
color: #156062;
}
.header
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo{
  position: relative;
  font-size: 28px;
  font-weight: 700;
  color: #f8de65;
  letter-spacing: 3px;
  text-decoration: none;
  cursor: default;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}
.navbar a{
  display: inline-block;
  font-size: 22px;
  color: #156062;
  text-decoration: none;
  font-weight: 700;
  margin-left: 35px;
  transition: .3s;
  opacity: 0;
  animation: slideTop .5s ease forwards;
  animation-delay:  calc(.2s * var(--1));
}
.navbar a:hover{
  color: #00c092;
}
.home{
  position: relative;
  width: 100%;
  justify-content: space-between;
  height: 100vh;
  background-color:#fff;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 70px 10% 0;
}
.home-content{
  max-width: 600px;
}
.home-content h1 {
  font-family: 'rock salt', sans-serif;
  font-size: 35px;
  font-weight: 700;
  margin: -3px 0;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}
.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: .7s;
}
.home-content h3:nth-of-type(2){
  margin-bottom: 30px;
  animation: slideTop 1s ease forwards;
  animation-delay: .7s;
}
.home-content h3 span {
  color: #00c092;
}
.home-content p{
  font-size: 20px;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}
.home-sci a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 1px solid #156062;
  border-radius: 50%;
  margin: 30px 15px 30px 0;
  font-size: 20px;
  color: #156062;
  text-decoration: none;
  transition: .5s ease;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc (.2s * var(--1));
}
.home-sci a:hover{
  background: #00c092;
  color: #fff;
  box-shadow: 0 0 20px #00c092;
  border: none;
}
.btn-box{
  display: inline-block;
  /* padding: 15px 30px; */
  background: #f8de65;
  border-radius: 40px;
  font-size: 16px;
  color: #156062;
  letter-spacing: 1px;
  text-decoration: none;
  font-family: 'kalam', 'inclusive sans', sans-serif;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;

}
.animated-link{
  display: inline-block;
  background: #156062;
  border-radius: 8px;
  text-decoration: none;
}
.animated-link span{
  display: inline-block; 
  background: #156062;
  color: #fff;
  border: 2px solid #fff;
  padding: 16px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  transition: 
  transform 0.15s ease-out,
  color 0.15s ease-out,
  background-color 0.15s ease-out;
}
.animated-link:hover span{
  transform: translate(-10px, -10px);
  color: #fff;
  background-color: #ffbbab;
  border: none;
}
/* .btn-box:hover{
  box-shadow: 0 0 5px cyan,
  0 0 25px cyan, 0 0 50px cyan,
  0 0 200px cyan, 0 0 250px cyan;
} */

@keyframes slideRight{
  0%{
    transform: translateX(-100px);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideLeft{
  0%{
    transform: translateX(-100px);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideTop{
  0%{
    transform: translateY(100px);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideBottom{
  0%{
    transform: translateY(100px);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}
.about{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 30px;
}
.about-img img{
  padding-top: 10%;
  padding-bottom: 20%;
  max-width: 630px;
  height: auto;
  width: 100%;
  border-radius: 8px;
  margin-left: 60px;
}
.about-text{
  margin-right: 60px;
  background-color: #156062;
  color: #fff;
  border-radius: 8px;
  padding: 15px;
}
.about-text h2{
  font-size: 32px;
  font-family: 'rock salt', sans-serif;
  align-items: center;
}
.about-text h2 span{
  color: #f8de65;
  font-family: 'rock salt', sans-serif;
}
.about-text h4{
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  margin: 10px 0 5px;
}
.about-text p{
  color: #fff;
  font-size: 16px;
  line-height: 1.4;
}
.languages{
  background-color: #fff;
  border-radius: 8px;
}
.languages h4{
  color: #00c092;
  padding: 10px;
}
.languages i{
  color: #00c092;
  font-size: 50px;
  padding: 10px;
}
strong{
  font-weight: normal;
}
.main-text{
  padding-top: 130px;
  margin-top: 200px;
}
.main-text h2{
  font-size: 40px;
  line-height: 1;
  text-align: center;
}
.main-text h2 span{
  color: #156062;
}
.portfolio-content{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
}
.row{
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
}
.row img{
  width: 100%;
  border-radius: 8px;
  display: block;
  transition: transform 0.5s;
}
.layer{
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0,0,0,0.1), #156062);
  position: absolute;
  border-radius: 8px;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 40px;
  transition: height 0.5s;
}
.layer h5{
  color: #00c092;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}
.layer p{
  color: #00c092;	
  font-size: 1rem;
  line-height: 1.5;
}
.layer i{
  color: #fb8960;
  margin-top: 20px;
  font-size: 20px;
  background: #fff;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.row:hover img{
  transform: scale(1.1);
}
.row:hover .layer{
  height: 100%;
}
